/* AJUSTES GLOBALES */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-rosa: #C40069;
    --color-azul: #006CB0;
    --color-blanco: #fff;
    --fuente-secundaria: Arial, sans-serif;
}


body{
    font-family: 'Montserrat', sans-serif;
}
.todo{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



nav{
    background-color: var(--color-rosa);
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.nav-link{
    color: var(--color-blanco);
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: #a8005a;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #349CD3;
}
.logo-bonice{
    width: 20%;
    margin: 15px;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* justo debajo del enlace */
    left: 0;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.dropdown-content a {
    display: block;
    padding: 10px 14px;
    color: #000;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #eaeaea;
}

/* Mostrar dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}




main{
    display: flex;
    width: 100%;
}
.main{
    padding: 30px;
    width: 100%;
}
.contenedor {
    display: flex;
}
.bloque-sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    padding: 50px;
}
.logo-pingui{
width: 100%;
margin: 30px 10px;
padding: 30px;
}
.aside-button{
    background-color: var(--color-azul);
    padding: 15px 25px;
    border: none;
    border-radius: 7px;
    margin: 15px 0;
    color: var(--color-blanco);
    font-size: 1.3em;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.aside-button:hover{
    background-color: #004977f3;
    
}
hr{
    background-color: var(--color-rosa);
    width: 3px;
    height: 90%;
    border: none;
    align-items: center;
    margin-top: 2.5rem;
}




footer{
    background-color: var(--color-rosa);
}
.footer{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2em;
}

.todo{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


