.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 50px 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%; /* Muy importante para que cada slide ocupe todo el contenedor */
    box-sizing: border-box;
}

.slide img {
    width: 100%;      /* Ocupar todo el ancho del slide */
    height: auto;     /* Mantener proporciones */
    display: block;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}